<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Papers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group margin-bottom *ngFor='let number of paperNumber, let i = index'>
      <ion-item-divider color="light">{{number}} Paper</ion-item-divider>
      <ion-item>
        <ion-input type="text" placeholder="Title of the paper..." [(ngModel)]='shareServ.paperPage.paperList[i]'></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Course :</ion-label>
        <ion-select [(ngModel)]="shareServ.paperPage.courseList[i]">
          <ion-option *ngFor="let item of courseList">
            {{item}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>